input[type=button] 
{
  display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    margin:10px ;
    font-size: 16px;
    border: 1px solid #2d6898;
    width:50px;
    text-align:center;
}
    